.lockouts{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 1200px){
    .botao__div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .botao{
        width: 80%;
    }
}

@media (min-width: 500px){

    .lockouts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .lockoutsArea{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}