* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

body{
  background-color: #F2F2F2;
}
.content{
    margin-top: 118px;
}

.colaborador{
    color: red;
}

#root {
  width: 100%;
  height: 100%;
}
